.search {
    &__form {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
  
      &_field {
        width: 250px;
        margin: 0 8px 16px 8px;
      }
    }
    &__table {
      margin: 0 18px 18px 18px;
    }
  }

  .form_field-last {
    margin-left: 20px !important;
}
  .form_field-city {
      margin-left: 20px !important;
  }
  .mat-table-header {
      background-color: goldenrod;
      font-weight: 500;
      font-size: medium;
  }
  