<ng-container>
    <h1 class="user-list-text-color">How it Works?</h1>
    <h4>This is User List Application in which you can Add, Edit, Delete and View the User Information.</h4>
    <div>
        <ul>
            <li> User can View User List along with Name, City and Department.</li>
            <li> User can perform sorting, filtering on each column.</li>
            <li> It also supports pagination </li>
        </ul>

        <h4>User can Add / Delete / Edit the Records as below:</h4>

        <ul>
            <li><strong>Click on add symbol at top right to add the new record.</strong></li>
            <li><strong>Click on edit symbol for editing a existing user record.</strong></li>
            <li><strong>Click on Delete symbol for deleting an record</strong></li>
        </ul>
    </div>
    </ng-container>
